.blurb-container {
    display: inline-grid;
    grid-gap: 0px;
    align-items: center;
}

#blurb-text {
    grid-column: 2;
    width: 150px;
    height: auto;
    color: #000000;
    font-family: monospace;
    border-style: dotted;
    border-width: thin;
    padding: 10px;
}

#profile-img {
    grid-column: 1;
    float: left;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-right: 10px;
}