.blurb-container {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blurb {
    order: 2;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    color: #000000;
    font-family: monospace;
}

#profile-img {
    order: 1;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
    filter: grayscale(100%);
}

#main-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    text-transform: lowercase;
    letter-spacing: 0.1em;
}